@import "./normalize.css";

:root {
  --color-text: #333;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #e1e1e1;
  --font-size: 14px;
  --line-height: 1.7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
  /* background-color: #e1e1e1; */
}


ul,li{ padding:0;margin:0;list-style:none}

a {
  color: #08c;;
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.main {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1400px;
  min-width: 960px;
  padding: 10px 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

